.heroSection {
  background: linear-gradient(to right, #396afc 0, #2948ff 100%);
  height: 100%;
  position: relative;
  z-index: 1;
}
.heroSection::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(/src/assets/images/shape/shape-12.png);
  position: absolute;
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
  background-repeat: no-repeat;
}

.fullHeight {
  /* max-height: 100%; 
  max-width: 100%;  */

}