@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://kit.fontawesome.com/a076d05399.js");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 